html {
  position: relative;
  min-height: 100%;
}
.carousel {
  height: 100%;
}

body {
  margin: 0 0;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  overflow: hidden;
}
